
    /* ---- GLOWNY -------------------------------------------------------------------------------------------------------------- */
    html {
        scrollbar-face-color: #222222;
        scrollbar-highlight-color: #4d4d4d;
        scrollbar-shadow-color: #080808;
        scrollbar-3dlight-color: #222222;
        scrollbar-arrow-color:  #fe7e00;
        scrollbar-track-color: #3b3b3b;
        scrollbar-darkshadow-color: #111111;
    }
    body {
        background: url(../image/tlosrodek8.jpg);
        background-position: center;
    }
    #gl {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    #gl1 {
        width: 100%;
        height: 75px;
        margin: 0px auto;
        padding-top: 10px;
    }
    #gl2 {
        width: 100%;
        #height: auto;
        overflow: hidden;
    }
    #menugl {
        width: 100%;
        height: 50px;
        background: #131313;
        border-top: 1px solid #2d2d2d;
        border-bottom: 1px solid #2d2d2d;
    }
    /* ---- TYTUL --------------------------------------------------------------------------------------------------------------- */

    #tytul {
        width: 400px;
        height: 65px;
        float: left;
        text-align: left;
    }
    #tytultext1 {
        font-family: Pogrubiona;
        font-size: 25px;
        color:#f3700b;
        margin-left:30px;
        text-shadow: 5px 5px 16px rgba(14, 14, 14, 0.75);
    }
     #prostokat {
        width: 75px;
        height: 7px;
        background: #fe7e00;
        -webkit-box-shadow: 5px 5px 16px 0px rgba(14, 14, 14, 0.75);
        -webkit-box-shadow: 5px 5px 16px 0px rgba(14, 14, 14, 0.75);
        -webkit-box-shadow: 5px 5px 16px 0px rgba(14, 14, 14, 0.75);
        margin-top: 13px;
        margin-left:30px;
    }
    /* ---- MENU ---------------------------------------------------------------------------------------------------------------- */
    #menu {
        width: auto;
        font-family: Normalna;
        font-size: 18px;
        color: #fff;
        float: left;
    }
    #menu1 {
        width: 101px;
        height: 32px;
        background-image: url(../image/opisa.png);
        background-repeat:no-repeat;
        margin-top: 17px;
        margin-left: 10px;
        float: left;
        cursor: pointer;
    }
    #menu1:hover {
        width: 101px;
        height: 32px;
        background-image: url(../image/opisb.png);
        background-repeat:no-repeat;
        margin-top: 17px;
        margin-left: 10px;
        float: left;
        cursor: pointer;
    }
    #menu2 {
        width: 101px;
        height: 32px;
        background-image: url(../image/parametrya.png);
        background-repeat:no-repeat;
        margin-top: 17px;
        margin-left: 10px;
        float: left;
        cursor: pointer;
    }
    #menu2:hover {
        width: 101px;
        height: 32px;
        background-image: url(../image/parametryb.png);
        background-repeat:no-repeat;
        margin-top: 17px;
        margin-left: 10px;
        float: left;
        cursor: pointer;
    }
    #menu3 {
        width: 101px;
        height: 32px;
        background-image: url(../image/schematya.png);
        background-repeat:no-repeat;
        margin-top: 17px;
        margin-left: 10px;
        float: left;
        cursor: pointer;
    }
    #menu3:hover {
        width: 101px;
        height: 32px;
        background-image: url(../image/schematyb.png);
        background-repeat:no-repeat;
        margin-top: 17px;
        margin-left: 10px;
        float: left;
        cursor: pointer;
    }
    #menu4 {
        width: 101px;
        height: 32px;
        background-image: url(../image/galeriaa.png);
        background-repeat:no-repeat;
        margin-top: 17px;
        margin-left: 10px;
        float: left;
        cursor: pointer;
    }
    #menu4:hover {
        width: 101px;
        height: 32px;
        background-image: url(../image/galeriab.png);
        background-repeat:no-repeat;
        margin-top: 17px;
        margin-left: 10px;
        float: left;
        cursor: pointer;
    }
    .pobierz {
        width: 101px;
        height: 32px;
        background-image: url(../image/pobierzb.png);
        background-repeat:no-repeat;
        margin-top: 30px;
        cursor: pointer;
    }
    .pobierz:hover {
        width: 101px;
        height: 32px;
        background-image: url(../image/pobierza.png);
        background-repeat:no-repeat;
        margin-top: 30px;
        cursor: pointer;
    }
    /* ---- ZDJECIE ------------------------------------------------------------------------------------------------------------- */
    .zdjecie {
        background-repeat: no-repeat;
        background-position: center;
        float: left;
    }
    #linia {
        width:5px;
        border-left: 1px solid #353535;
        float: left;
        margin-top: 50px;
    }
    #opis,#parametry,#schematy,#galeria {

        margin-top: 40px;
        font-family: Cienka;
        font-size: 16px;
        color: #999;
        text-align: justify;
        padding: 0px 20px 30px 20px;
        float: left;
        overflow: auto;
    }
    #parametry {
        #display: none;
    }
